<div class="modal fade" data-backdrop="static" id="directa-close-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title-directa-close-modal">{{message_title}}</h5>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="close()" class="btn btn-success">Ok</button>
            </div>
        </div>
    </div>
</div>