/* Componentes estruturais do APP */
$app-cabecalho-cor: #FFFFFF;
$app-navegacao-cor: #242939;
$app-area-logo-cor: #242939;
$app-area-conteudo-cor: #f2f3f8;

/* Área Logo */
$app-logo-bg-cor: #FFFFFF;
$app-logo-fonte-cor: #FFFFFF;

/* Menu */
$app-directa-menu-font-cor: #FFFFFF;
$app-directa-menu-grupo-cor: #1d212e;

/* Form */
$app-directa-form-header-cor: rgb(50, 173, 255);
$app-directa-form-header-font-cor: #fff;

$app-button-hover-cor: #dddd;
